*{
    margin: 0;
    padding: 0;
}

:root{                      /*cambiare qui i colori e utilizzare le variabili*/
    --bgcolor: #b5f5ff;
    --breadcolor: #9e9e9e;
    --linkbreadcolor: #ffffff;
}

html{
    background-color: var(--bgcolor);
}

html, body{
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1em;
    font-weight: 300;   /*100=light, 400=normal, 700=bold*/
    color: var(--txtcolor);
    margin:auto;
    display:flex;
    flex-direction: column;
}

body{
    border: 1px solid black;
}

main{
    flex: 1;
    position:relative;
    z-index:2;
    min-height: 80vh;
}

main h2{
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

.header_container{
    background-color: var(--breadcolor);
    color: var(--breadwordcolor);
    padding: 0.5em;
    border-top: 1px inset var(--bgcolor);
}

.navbar-brand{
    text-decoration: none;
}

.navTitle{
    font-size: 1.5em;
    font-weight: 700;
    color: var(--linkbreadcolor);
}

#logo_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

#logo {
    width: 60%; /* Imposta la larghezza del logo */
    height: auto; /* Assicura che #logo si ridimensioni in altezza */
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7); /* Aggiungi un bordo sfocato */
    transition: box-shadow 0.3s ease-in-out; /* Aggiungi una transizione per l'effetto */
}

.presentazione{
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.presentazione p{
    font-size: 1.2em;
    padding-top:0.5%;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 3%;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, padding 0.3s ease-in-out;
    padding: 0;
}

/* Quando attivo, aumenta l'altezza */
.dropdown.open {
    max-height: 200px; /* Un valore abbastanza grande per contenere i link */
    padding: 10px; /* Riapplica il padding */
}

.dropdown a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px;
}

.dropdown a:hover {
    background: #bbb;
}


/*
======================================
                FOOTER
======================================
*/
footer {
    color: var(--breadwordcolor);
    background-color: var(--breadcolor);
    border-bottom: 0;
}

footer h2{
    margin-left: 0%;
    margin-bottom: 4px;
}

footer .contatti {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 0.5%;
    font-size: 1.2em;
}

footer p{                /*p: paragrafo*/   
    display: flex;
    font-style: italic;
    font-size: 1em;
    gap:0;
    justify-content: center;
    padding-bottom:0.3%;
}

footer li{
    list-style-type: none;
}

.imgValidCode{
    width: 80px;
}  

.copyright{
    padding-top:1%;
    padding-left: 1%;
    padding-right: 1%;
}